@(cardList: List[Card], userList: List[User], categoryList: List[Category], daihyoList: List[Card])

@import helper._

@template("掲示板") {

<h1>掲示板</h1>


                <dev>
                @if(daihyoList != null){
                <h2>代表的なカード</h2>
                    @for(card2 <- daihyoList) {
                        @template_card(card2)
                    }
                }
                </dev>





                <p>検索</p>
                @helper.form(routes.BoardController.search()) {

                <div style="border-style: solid ; border-width: 1px;width: 200px;">
                    <p>誰から　<select name="fromuser">
                        <option value="-1">From</option>
                        @for(user <- userList) {
                        <option value="@user.id">@user.getName</option>
                        }
						</select></p>

                    <p>誰へ　　<select name="touser">
                        <option value="-1">To</option>
                        @for(user <- userList) {
                        <option value="@user.id">@user.getName</option>
                        }
                    </select></p>

                    <p>カテゴリ<select name="category">
                    <option value="-1">Category</option>
                        @for(category <- categoryList) {
                        <option value="@category.id">@category.categoryName</option>
                        }
                        </select></p>

                    <p>期間　　<input type="date" name="begin" value="" /><br>
                       　　　 ～<input type="date" name="end" value="" /></p>
                    <input type="submit" value="検索">
                </div>
                }
                <br>
                <br>
                <br>

                @for(card <- cardList) {
                @template_card(card)
            }

}


