@(cardList: List[Card], daihyoList: List[Card], params: Map[String, String] = null )

@import helper._

@title = {掲示板}

@template(title.toString) {

<h1>@title</h1>

@helper.form(routes.BoardController.search()) {

    <div class="col-sm-3">
        <h2>検索</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>すべてのカードから検索します</p>

                <div class="clearfix" style="margin:1em 0em;">
                    <label class="control-label">誰から</label><br>
                    <select class="select2 form-control" name="fromuser">
                        <option value="">(未設定)</option>
                        @for(user <- User.find.where().findList()) {
                            <option value="@user.id"@if(user.id.toString == params.get("fromuser")){ selected}>@user.getName (@user.bushoId.bushoName)</option>
                        }
                    </select>

                    <label class="control-label">誰へ</label><br>
                    <select class="select2 form-control" name="touser">
                        <option value="">(未設定)</option>
                        @for(user <- User.find.where().findList()) {
                            <option value="@user.id"@if(user.id.toString == params.get("touser")){ selected}>@user.getName (@user.bushoId.bushoName)</option>
                        }
                    </select>


                    <label class="control-label">部署から</label><br>
                    <select class="select2 form-control" name="fromBusho">
                        <option value="">(未設定)</option>
                        @for(busho <- Busho.find.where().findList()) {
                            <option value="@busho.id"@if(busho.id.toString == params.get("fromBusho")){ selected}>@busho.bushoName</option>
                        }
                    </select>

                    <label class="control-label">部署へ</label><br>
                    <select class="select2 form-control" name="toBusho">
                        <option value="">(未設定)</option>
                        @for(busho <- Busho.find.where().findList()) {
                            <option value="@busho.id"@if(busho.id.toString == params.get("toBusho")){ selected}>@busho.bushoName</option>
                        }
                    </select>

                    <label class="control-label">カテゴリ</label><br>
                    <select class="select2 form-control" name="category">
                        <option value="">(未設定)</option>
                        @for(category <- Category.find.where().findList()) {
                            <option value="@category.id"@if(category.id.toString == params.get("category")){ selected}>@category.categoryName</option>
                        }
                    </select>

                    <label class="control-label">開始日</label><br>
                    <input type="date" name="begin" value="@params.get("begin")" class="col-sm-5 form-control"/>
                    <label class="control-label">終了日</label><br>
                    <input type="date" name="end" value="@params.get("end")" class="col-sm-5 form-control"/>

                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary control-label">検索</button>
                </div>
            </div>
        </div>
    </div>

}

<div class="col-sm-9">

    @if(daihyoList != null){
        <h2>代表的なカード</h2>

        @if(daihyoList.length == 0) {
            @template_nocard()
        }

        @for(card2 <- daihyoList) {
            @template_card(card2)
        }
    }
    @if(daihyoList != null){
        <h2>掲載中</h2>
    }else{
        <h2>検索結果</h2>
    }

    @if(cardList.length == 0) {
        @template_nocard()
    }
    @for(card <- cardList) {
        @template_card(card)
    }
</div>

}
