@(user: User, card: Card, comments: List[Comment])

@template("Card Detail") {



<article class="card">
    <div class="panel panel-default">
        <div class="panel-body">
            <header class="clearfix">
                <div class="pull-left">
                    <h1 class="card-title">@card.title</h1>
                    <div class="card-date">
                        @card.kanshaDate の出来事
                    </div>
                </div>
                <div class="pull-right">
                    <div class="card-address text-center">
                        <div class="card-from">
                            <a href="@routes.UserController.index(card.fromUser.userId)" class="card-name btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-user"></span>
                                @card.fromUser.getName
                            </a>
                        </div>
                        <div class="glyphicon glyphicon-arrow-down"></div>
                        <div class="card-to">
                            <a href="@routes.UserController.index(card.toUser.userId)" class="card-name btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-user"></span>
                                @card.toUser.getName
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <hr>
            <div class="card-message">
                @Html(card.message.replaceAll("\n", "<br>\n"))
            </div>
            <hr>
            <footer>
                <div class="pull-left">
                    @*カテゴリ未リンク*@
                    <a href="#" class="btn btn-primary">
                        <span class="glyphicon glyphicon-tag"></span>
                        @card.category.categoryName
                    </a>
                </div>
                <div class="pull-right text-right">
                    <div class="card-date">投稿 @card.postDate</div>
                    <div class="card-date">更新 @card.updateDate</div>
                </div>
            </footer>
        </div>
    </div>

    <ul class="comments list-group">
        @for(comment <- comments) {
            <li class="comment list-group-item clearfix">
                <div class="clearfix">
                    <div class="col-md-2 text-right">
                        @comment.fromUser.getName
                    </div>
                    <div class="col-md-8">
                        @comment.message
                    </div>
                    @if(comment.fromUser == user || 2 <= user.kengen.rank){
                        <div class="col-md-1">
                            @helper.form(routes.CardController.deleteComment(card.id, comment.id)) {
                                <button type="submit" class="btn btn-danger control-label" onclick='return confirm("削除しますか？");'>削除</button>
                            }
                        </div>
                    }
                </div>
                <div class="card-date text-right text-muted">
                    投稿 @comment.postDate
                </div>
            </li>
        }
        <li class="comment list-group-item clearfix">
            @helper.form(routes.CardController.newComment(card.id)) {
                <div class="col-md-2 text-right">
                    @user.getName
                </div>
                <div class="col-md-8">
                    <input type="text" name="message" class="form-control" placeholder="コメント">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary control-label">返信</button>
                </div>
            }
        </li>
    </ul>

</article>







}
