@(user: User, card: Card, comments: List[Comment])

@import org.joda.time.DateTime
@import org.joda.time.format._
@import java.util.Date

@template("Card Detail") {



<article class="card">
    <div class="panel panel-default">
        <div class="panel-body">
            <header class="clearfix">
                <div class="pull-left">
                    <h1 class="card-title">@card.title</h1>
                    @if(card.kanshaDate != null) {
                        <div class="card-date">
                            @("%tF" format card.kanshaDate) の出来事
                        </div>
                    }
                </div>
                <div class="pull-right">
                    <div class="card-address text-center">
                        <div class="card-from">
                            <a href="@routes.UserController.index(card.fromUser.userId)" class="card-name btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-user"></span>
                                @card.fromUser.getName
                            </a>
                        </div>
                        <div class="glyphicon glyphicon-arrow-down"></div>
                        <div class="card-to">
                            <a href="@routes.UserController.index(card.toUser.userId)" class="card-name btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-user"></span>
                                @card.toUser.getName
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <hr>
            <div class="card-message">
                @Html(card.message.replaceAll("\n", "<br>\n"))
            </div>
            <hr>
            <footer>
                <div class="pull-left">
                    @if(card.category != null) {
                        @helper.form(routes.BoardController.search()) {
                            <input type="hidden" name="category" value="@card.category.id">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-tag"></span>
                                @card.category.categoryName
                            </button>
                        }
                    }
                </div>
                <div class="pull-right text-right">
                    <div class="card-date">投稿 @card.postDate</div>
                    <div class="card-date">更新 @card.updateDate</div>
                </div>
            </footer>
        </div>
    </div>

    <ul class="comments list-group">
        @for(comment <- comments) {
            <li class="comment list-group-item clearfix">
                <div class="clearfix">
                    <div class="col-sm-2 text-right">
                        @comment.fromUser.getName
                    </div>
                    <div class="col-sm-8">
                        @comment.message
                    </div>
                    @if(comment.fromUser == user || 2 <= user.kengen.rank){
                        <div class="col-sm-1">
                            @helper.form(routes.CardController.deleteComment(card.id, comment.id)) {
                                <button type="submit" class="btn btn-danger control-label" onclick='return confirm("削除しますか？");'>削除</button>
                            }
                        </div>
                    }
                </div>
                <div class="card-date text-right text-muted">
                    投稿 @comment.postDate
                </div>
            </li>
        }
        <li class="comment list-group-item clearfix">
            @helper.form(routes.CardController.newComment(card.id)) {
                <div class="col-sm-2 text-right">
                    @user.getName
                </div>
                <div class="col-sm-8">
                    <input type="text" name="message" class="form-control" placeholder="コメント">
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary control-label">返信</button>
                </div>
            }
        </li>
    </ul>

    @if(2 <= user.kengen.rank){
        <div class="panel panel-default">
            <div class="panel-body">

            @helper.form(routes.CardController.setGrade(card.id), 'class -> "form-inline text-center") {
                <div class="form-group">
                    <label for="grade" class="control-label">評価</label><br>
                    <input type="number" name="grade" id="grade" min="1" max="5" placeholder="評価" class="form-control" value="@card.grade">
                </div>
                <div class="form-group">
                    <label for="dueDate" class="control-label">掲載期限</label><br>
                    <input type="date" name="dueDate" id="dueDate" placeholder="掲載期限" class="form-control" value="@if(card.dueDate != null) {@DateTimeFormat.forPattern("yyyy-MM-dd").print((new DateTime(card.dueDate)))}">
                </div>
                <div class="form-group">
                    <label for="daihyoDate" class="control-label">代表月</label><br>
                    <input type="month" name="daihyoDate" id="daihyoDate" placeholder="代表月" class="form-control" value="@if(card.daihyoDate != null) {@DateTimeFormat.forPattern("yyyy-MM").print((new DateTime(card.daihyoDate)))}">
                    <button type="submit" class="btn btn-primary control-label">決定</button>
                </div>
            }

            </div>
        </div>
    }

</article>







}
