@(user: User, card: Card, comments: List[Comment])

@template("Card Detail") {

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">@card.title</div>
    </div>
    <div class="panel-body">


        <div class="well well-sm"">
            From: @card.fromUser.getName
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            To: @card.toUser.getName
        </div>

        <div class="well well-lg">
            @Html(card.message.replaceAll("\n", "<br>\n"))
        </div>

        <div class="pull-right text-muted">
            <small>感謝日: @card.kanshaDate</small><br>
            <small>投稿日: @card.postDate</small><br>
            <small>更新日: @card.updateDate</small><br>
        </div>
    </div>


    <ul class="list-group">
        @for(comment <- comments) {
            <li class="list-group-item clearfix">
                <div class="clearfix">
                    <div class="col-md-2 text-right">
                        @comment.fromUser.getName
                    </div>
                    <div class="col-md-8">
                        @comment.message
                    </div>
                    @if(comment.fromUser == user || 2 <= user.kengen.rank){
                        <div class="col-md-1">
                        @helper.form(routes.CardController.deleteComment(card.id, comment.id)) {
                            <button type="submit" class="btn btn-danger control-label" onclick='return confirm("削除しますか？");'>削除</button>
                        }
                        </div>
                    }
                </div>
                <div class="text-right text-muted">
                    <small>@comment.postDate</small>
                </div>
            </li>
        }
        <li class="list-group-item clearfix">
            @helper.form(routes.CardController.newComment(card.id)) {
                <div class="col-md-2 text-right">
                    @user.getName
                </div>
                <div class="col-md-8">
                    <input type="text" name="message" class="form-control" placeholder="コメント">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary control-label">返信</button>
                </div>
            }
        </li>

    </ul>


</div>

}
