@import helper._

@template("Login") {

<div class="login">
    <h1 class="pagetitle">ログインしてください</h1>

    @form(routes.LoginController.login(), 'class -> "form-signin") {
        <label for="userId">User ID</label>
        <input type="text" name="userId" class="form-control" placeholder="User ID" required autofocus>
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    }
</div>

}
