@(card: Card)


<article class="card">
    <div class="panel panel-default">
        <div class="panel-body">
            <header class="clearfix">
                <div class="pull-left">
                    <a href="@routes.CardController.view(card.id)" class="card-title">@card.title</a>
                    <div class="card-date">
                        @card.kanshaDate の出来事
                    </div>
                </div>
                <div class="pull-right">
                    <div class="col-sm-6 text-center">
                    @helper.form(routes.BoardController.search()) {
                        <input type="hidden" name="category" value="@card.category.id">
                        <button type="submit" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-tag"></span>
                            @card.category.categoryName
                        </button>
                    }
                    </div>
                    <div class="card-address col-sm-6 text-center">
                        <div class="card-from">
                            <a href="@routes.UserController.index(card.fromUser.userId)" class="card-name btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-user"></span>
                                @card.fromUser.getName
                            </a>
                        </div>
                        <div class="glyphicon glyphicon-arrow-down"></div>
                        <div class="card-to">
                            <a href="@routes.UserController.index(card.toUser.userId)" class="card-name btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-user"></span>
                                @card.toUser.getName
                            </a>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
</article>
