@(user: User, cards: List[Card])


@title = {@user.getName}

@template(title.toString) {

<h1>@title</h1>

<div class="sidebar col-sm-3">
    <div class="menu list-group">
        <a href="@routes.UserController.inbox(user.userId)" class="list-group-item @if(flash.get("submenu")=="inbox"){active}">受信箱</a>
        <a href="@routes.UserController.outbox(user.userId)" class="list-group-item @if(flash.get("submenu")=="outbox"){active}">送信箱</a>
    </div>

    <div>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#new-card" style="width:100%;">
        <span class="glyphicon glyphicon-pencil"></span>
        新規カード
    </a>
    </div>

</div>

<div  class="col-sm-8">

@if(cards.length == 0) {
    @template_nocard()
}

@for(card <- cards) {
    @template_card(card)
}

</div>

@card_new()

}
