@(user: User, cards: List[Card])

@template("User Detail") {


<h1 class="pagetitle">
    @user.getName
</h1>
<div class="sidebar col-md-3">
    <div class="menu list-group">
        <a href="@routes.UserController.inbox(user.userId)" class="list-group-item">受信箱</a>
        <a href="@routes.UserController.outbox(user.userId)" class="list-group-item">送信箱</a>
        <a class="list-group-item">新規作成</a>
    </div>
</div>

<div  class="col-md-8">

@for(card <- cards) {
    @template_card(card)
}
</div>

@card_new()

}
